/*
 * Copyright (c) 2020 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/gpio/microchip-xec-gpio.h>

/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	board_power: resources {
		compatible = "intel-rvp,board-power";
		/* MCHP_GPIO_012 */
		pwrg-gpios = <&gpio_000_036 10 GPIO_ACTIVE_HIGH>;
		/* MCHP_GPIO_0054 */
		rsm-gpios = <&gpio_040_076 12 GPIO_ACTIVE_HIGH>;
	};

	auxdisplay_h: digi-display-h {
		compatible = "gpio-7-segment";
		status = "okay";
		columns = <1>;
		rows = <1>;

		segment-gpios =
			<MCHP_GPIO_DECODE_060 GPIO_ACTIVE_HIGH>, /* A */
			<MCHP_GPIO_DECODE_024 GPIO_ACTIVE_HIGH>, /* B */
			<MCHP_GPIO_DECODE_051 GPIO_ACTIVE_HIGH>, /* C */
			<MCHP_GPIO_DECODE_033 GPIO_ACTIVE_HIGH>, /* D */
			<MCHP_GPIO_DECODE_050 GPIO_ACTIVE_HIGH>, /* E */
			<MCHP_GPIO_DECODE_106 GPIO_ACTIVE_HIGH>, /* F */
			<MCHP_GPIO_DECODE_062 GPIO_ACTIVE_HIGH>, /* G */
			<MCHP_GPIO_DECODE_023 GPIO_ACTIVE_HIGH>; /* DP */

		digit-gpios =
			<MCHP_GPIO_DECODE_141 GPIO_ACTIVE_LOW>;

		refresh-period-ms = <1>;
	};

	auxdisplay_l: digi-display-l {
		compatible = "gpio-7-segment";
		status = "okay";
		columns = <1>;
		rows = <1>;

		segment-gpios =
			<MCHP_GPIO_DECODE_067 GPIO_ACTIVE_HIGH>, /* A */
			<MCHP_GPIO_DECODE_206 GPIO_ACTIVE_HIGH>, /* B */
			<MCHP_GPIO_DECODE_202 GPIO_ACTIVE_HIGH>, /* C */
			<MCHP_GPIO_DECODE_205 GPIO_ACTIVE_HIGH>, /* D */
			<MCHP_GPIO_DECODE_203 GPIO_ACTIVE_HIGH>, /* E */
			<MCHP_GPIO_DECODE_204 GPIO_ACTIVE_HIGH>, /* F */
			<MCHP_GPIO_DECODE_201 GPIO_ACTIVE_HIGH>, /* G */
			<MCHP_GPIO_DECODE_200 GPIO_ACTIVE_HIGH>; /* DP */

		digit-gpios =
			<MCHP_GPIO_DECODE_222 GPIO_ACTIVE_HIGH>;

		refresh-period-ms = <1>;
	};
};

&espi_saf0 {
	status = "okay";
};

&p80bd0 {
    status = "okay";
};

/* Enable Target to Controller Virtual Wires GPIO 0 - 3 */
&vw_t2c_gpio_0 {
	status = "okay";
	reset-state = "1";
	reset-source = "ESPI_RESET";
};

&vw_t2c_gpio_1 {
	status = "okay";
	reset-state = "1";
	reset-source = "ESPI_RESET";
};

&vw_t2c_gpio_2 {
	status = "okay";
	reset-state = "1";
	reset-source = "ESPI_RESET";
};

&vw_t2c_gpio_3 {
	status = "okay";
	reset-state = "1";
	reset-source = "ESPI_RESET";
};

&qspi0 {
	status = "okay";
	clock-frequency = <24000000>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_tx_gpio104 &uart0_rx_gpio105>;
	pinctrl-names = "default";
};

